# Usage tips:
# - working on something, and need that to be built first? Temporarily, insert
#   a stage before the others.
# - to make gitlab skip jobs, prepend its name with . (a dot).
# - gitlab: don't forget to set the builds option to clone instead of git fetch
#   see Project Settings -> Builds. Fixes issues new builds not being 100%
#   clean builds.
# - In Project Settings you can also increase the max build time, default 60
#   minutes, to, for example, 180 minutes. 

stages:
  - build

build-scarthgap-full:
  variables:
    SSTATE: "build from cache"
  script:
    - make CONFIG=scarthgap reconf fetch-all build/conf/bblayers.conf
    - if [ "$SSTATE" = "yes" ]; then
        export BBPATH_EXTRA="$PWD/sites/ci-mirror:" && make mc-venus;
      else
        rm -rf /mnt/persistent/venus_ci_shared/sstate-cache-tmp;
        export BBPATH_EXTRA="$PWD/sites/ci-master:" && make mc-venus;
      fi
    - if [ "$SSTATE" != "yes" ]; then
        [ -e /mnt/persistent/venus_ci_shared/sstate-cache ] && mv -f /mnt/persistent/venus_ci_shared/sstate-cache /mnt/persistent/venus_ci_shared/sstate-cache-old;
        mv /mnt/persistent/venus_ci_shared/sstate-cache-tmp /mnt/persistent/venus_ci_shared/sstate-cache;
        [ -e /mnt/persistent/venus_ci_shared/sstate-cache-old ] && rm -rf /mnt/persistent/venus_ci_shared/sstate-cache-old;
      fi
    - rm -rf build/tmp*
    - ./ci-populate-artifacts.sh scarthgap
    - ./ci-upload-artifacts-to-build-feeds.sh $CI_COMMIT_REF_NAME
    - ./ci-upload-artifacts-to-www.sh
    # trigger a pipeline on venus-tests repo; master branch; and pass our branch in the BRANCH variable
    - "curl -X POST -F token=56bd8d45f917e9ff0ff396005a8c98 -F ref=master -F variables[BRANCH]=$CI_COMMIT_REF_NAME \
      -F variables[PUSH_TO_TESTING]=yes https://git.victronenergy.com/api/v4/projects/221/trigger/pipeline"
    - make clean
  stage: build
  tags:
    - vic-alm-build-p02
    - venus
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_PIPELINE_SOURCE == "web"'
      when: always
    - when: never

build-scarthgap:
  script:
    - make CONFIG=scarthgap reconf fetch-all build/conf/bblayers.conf
    - export BBPATH_EXTRA="$PWD/sites/ci-mirror:" && make machines
    - ./ci-populate-artifacts.sh scarthgap
    - ./ci-upload-artifacts-to-build-feeds.sh $CI_COMMIT_REF_NAME
    # trigger a pipeline on venus-tests repo; master branch; and pass our branch
    # in the BRANCH variable
    - "curl -X POST -F token=56bd8d45f917e9ff0ff396005a8c98 -F ref=master \
      -F variables[BRANCH]=$CI_COMMIT_REF_NAME https://git.victronenergy.com/api/v4/projects/221/trigger/pipeline"
  stage: build
  tags:
    - vic-alm-build-p02
    - venus
  except:
    - tags
    - master

